<div class="pavi">
    
        <div>
         <div> <span>  <a [routerLink]="['test']">Allmovies</a></span>
         <span style="padding-left:4rem">  <a [routerLink]="['resent-movies']">Resentmovies</a></span> 
           
           <span style="padding-left:4rem"><a [routerLink]="['old-movies']">Oldmovies</a></span> 
           <span style="padding-left:4rem"><a [routerLink]="['tamil']">tamil movies</a></span> 
           <span style="padding-left:4rem"><a [routerLink]="['pipes']">pipes</a></span> 
        </div>
</div>
<router-outlet></router-outlet>


